p, blockquote, h1, h2, div {
  font-weight: 100;
}

p {
  line-height: 1.5em;
}

body {
  max-width: 720px;
  margin: auto;
  background-color: #222;
  color: #bcbcbc;
}

.header {
  font-size: 32px;
  text-align: center;
}

h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #1485cc;
}
a:hover, a:focus {
  color: #0971b2;
}

a.pure-button:hover {
  color: #ffffff;
}

.highlight {
  padding: 10px;
  margin-bottom: 10px;
  background: #1f1f1f;
  box-shadow: 0 1px 1px #111;
}

.showcase {
  margin: auto;
  width: 230px;
}

.showcase .eight-bit-color-picker {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

blockquote {
  margin: 0;
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.title {
  margin-bottom: 15px;
}

.nav-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.nav-buttons a {
  min-width: 120px;
}

.button-xlarge {
  font-size: 125%;
}

.footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.demo {
  margin-top: 20px;
  line-height: 2em;
}
.demo .eight-bit-color-picker {
  margin-left: 10px;
  display: inline-block;
}
